html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

.bg {
	width: 100%;
	height: 100%;
	position: fixed;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

a {
	color: #FFF;
}

.main {
	font-size: 1.5em;
	font-weight: bold;
	color: #FFF;
	position: absolute;
	right: 50px;
	width: 50%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: space-around;
    align-items: flex-start;
}

.buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	flex-wrap: nowrap;
}

.buttons .button {
	display: inline-block;
}

.buttons .button img {
	margin: auto;
	display: block;
	width: 100%;
}

.more {
	font-size: 0.9em;
	margin-top: 60px;
}

@media screen and (max-width: 720px) {
	.main {
		width: 80%;
		margin: auto;
	}

	.buttons {
		flex-direction: column;
	}

	.buttons .button {
		margin-bottom: 20px;
	}
}
